/* CreatePost.css */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
  }
  
  input[type="file"] {
    margin-bottom: 20px;
  }
  
  button {
    background-color: #692800;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #4d1e00;
  }